:root {
  --primary-color: #000000;
}

.btn {
  color: #fff;
  padding: 0.6rem 0.8rem;
  font-size: 1.4rem;
  text-align: center;
  border: 0;
  outline: none;
  border-radius: 10px;
  width: 120px;
  margin-left: 10px;
  cursor: pointer;
}

.btn:hover{
  color:#000000;
}

.btn.add {
  background-color: var(--primary-color);
}

.btn.remove {
  background-color: tomato;
}

.btn.checkout {
  background-color: #000000;
  width: 150px;
  color: #fff;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn.add:hover {
  background-color: #dedede;
}


.btn.remove:hover {
  background-color: rgb(209, 83, 61);
}

.btn.checkout:hover {
  color:#000000;
  background-color: #dedede;
}

.btn.checkout:active {
  background-color: #dedede;
}
