* {
  box-sizing: border-box;
}
 
.itemInCart {
  /* background: #43484D; */
  border: 1px solid;
  margin: 5px;
  /* padding: 0px 10px; */
  height: 120px;
  display: flex;
  border-color: rgba(0, 0, 0, 0.1);
  align-items: center;
}
 
.itemInCart:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  /* background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center; */
}
 
.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  /* background: url('twitter-heart.png'); */
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}


.image {
  display: flex;
  background-size: cover;
  width: 20%;
  margin-right: 30px;
}
 
.description {
  /* padding-top: 10px; */
  display: flex;
  justify-items: baseline;
  margin-right: 60px;
  width: 115px;
  color: black;
  font-family: 'Oxygen';
}
 
 

.quantity {
  display: flex;
  padding: 2px;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  border-color: #D3CCD0;
  font-family: 'Oxygen';
}
 
.minus-btn {
  align-items: center;
  line-height: normal;
  width: 30px;
  height: 30px;
  font-size: 1.5em;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 0px;
  border: none;
  cursor: pointer;
}

.minusBtnSect{
  flex: 1;
}
.plusBtnSect{
  flex: 1;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

@media (max-width: 800px) {
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
   
}

a {
  text-decoration: none;
}

.cartImage{
  width: 100%;
  margin-left: 5px;
  /* margin-top: 5px; */ 
}

.image img {
  /* object-fit: contain; */
  max-width:100%!important;
  height:auto!important;
  /* width: 50%; */
}

.sizeSect{
  /* position: ; */
  font-size: small;
  font-family: "Jura";
}

