.FilterBin_default{
    margin: 3px;
    width: 100%;
    height: 26px;
    border: 0px solid;
    /* border-radius: 6px; */
    background-color: #D9D9D9;
    font-size: medium;
    font-weight: 600;
    /* border-color: black; */
    align-items: center;
    color: black;
}

.FilterBin_foc{
    margin: 3px;
    width: 100%;
    height: 26px;
    /* border: 2px solid; */
    /* border-radius: 6px; */
    background-color: black;
    font-size: medium;
    font-weight: 600;
    border-color: black;
    color: white;
    align-items: center;
}

/* .sizebin:active{
    background-color: red;
    color: white;
} */
