.header__container {
    display: flex;
    justify-content: space-between;
}
.cart__title a {
  color: black;
  text-decoration: none;
}
.cart__title{
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  text-indent: 25px;
}

.cart__image{
  flex: 1;
  display: flex;
  justify-content: end;
}
  
  .shopping-cartBr {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }

  .cart__badge_header {
    position: relative;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transform: translate(15px, -15px) scale(1);
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
    justify-content: center;
    opacity: 1;
  }
  
.cart__badge--hidden {
  display: none;
}


.NoneDecor{
  text-decoration: none;
}
