.sizebin_default{
    margin: 3px;
    width: 45px;
    height: 30px;
    border: 2px solid;
    border-radius: 3px;
    background-color: white;
    font-size: medium;
    font-weight: 600;
    border-color: black;
}

.sizebin_foc{
    margin: 3px;
    width: 45px;
    height: 30px;
    border: 2px solid;
    border-radius: 3px;
    background-color: black;
    font-size: medium;
    font-weight: 600;
    border-color: black;
    color: white;
}

/* .sizebin:active{
    background-color: red;
    color: white;
} */
